@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.rainbow_white {
  @apply bg-white opacity-35 w-full lg:w-1/2 h-[25rem] absolute -z-10  rounded-full blur-[8rem];
}
.rainbow_green {
  @apply bg-green_sid opacity-35 w-full lg:w-1/2 h-[25rem] absolute -z-10  rounded-full blur-[8rem];
}

.rainbow_pink {
  @apply bg-pink_sid opacity-35 w-full lg:w-1/2 h-[25rem] absolute -z-10  rounded-full blur-[8rem];
}

.line-gradient {
  position: relative;
  display: inline-block;
}

.line-gradient-green::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  height: 3px;

  width: 40vw;
  background: linear-gradient(to right, #27d507, transparent);

  background-repeat: no-repeat;
  margin-left: 8px;
  transform: 'translateY(-50%)';
}

.line-gradient-pink::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  height: 3px;

  width: 40vw;
  background: linear-gradient(to right, #ff69b4, transparent);

  background-repeat: no-repeat;
  margin-left: 8px;
  transform: 'translateY(-50%)';
}

.contacts-h3 {
  @apply text-2xl font-bold mb-5;
}

.contacts-p {
  @apply whitespace-pre-wrap text-xl;
}

.required-field::after {
  @apply content-['*'] text-red-600
}

.animate-button {
  @apply rounded-2xl shadow-md hover:shadow-xl hover:text-white transition transform hover:-translate-y-0.5 motion-reduce:transition-none motion-reduce:hover:transform-none
}