@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-hanken-grotesk: var(--font-hanken-grotesk);
  --font-playfair-display: var(--font-playfair-display);

  --spacing-1\/12: 8.333333%;

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-green_sid: #27d507;
  --color-pink_sid: #ff69b4;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body, h6 {
    @apply m-0 p-0 text-foreground font-hanken-grotesk;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-playfair-display;
  }
}

.rainbow_white {
  @apply bg-white opacity-35 w-full lg:w-1/2 h-100 absolute -z-10  rounded-full blur-[8rem];
}
.rainbow_green {
  @apply bg-green_sid opacity-35 w-full lg:w-1/2 h-100 absolute -z-10  rounded-full blur-[8rem];
}

.rainbow_pink {
  @apply bg-pink_sid opacity-35 w-full lg:w-1/2 h-100 absolute -z-10  rounded-full blur-[8rem];
}

.line-gradient {
  position: relative;
  display: inline-block;
}

.line-gradient-green::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  height: 3px;

  width: 40vw;
  background: linear-gradient(to right, #27d507, transparent);

  background-repeat: no-repeat;
  margin-left: 8px;
  transform: 'translateY(-50%)';
}

.line-gradient-pink::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  height: 3px;

  width: 40vw;
  background: linear-gradient(to right, #ff69b4, transparent);

  background-repeat: no-repeat;
  margin-left: 8px;
  transform: 'translateY(-50%)';
}

.contacts-h3 {
  @apply text-2xl font-bold mb-5;
}

.contacts-p {
  @apply whitespace-pre-wrap text-xl;
}

.required-field::after {
  @apply content-['*'] text-red-600
}

.animate-button {
  @apply rounded-2xl shadow-md hover:shadow-xl hover:text-white transition transform hover:-translate-y-0.5 motion-reduce:transition-none motion-reduce:hover:transform-none
}